@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0px;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

/* .mantine-Table-td {
  width: unset !important;
  min-width: unset !important;
}
.mantine-Table-th {
  width: unset !important;
  min-width: unset !important;
}

table {
  table-layout: auto !important;
} */

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  font-size: 11px;
}

th {
  border-bottom: 1px solid #93bfeb;
  border: 0.5px solid black;
  background-color: #3398ff;
  color: white;
  font-weight: 100;
  min-width: 25px;
  text-align: center;
  white-space: nowrap;
  height: 25px;
}

td {
  text-align: center;
  border: 0.5px solid black;
  max-height: 21px;
  text-align: left;
  white-space: nowrap;
}
